[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
ipython = "==8.10.0"
ipykernel = "*"
python-dotenv = "*"
langchain = "*"
unstructured = "*"
chromadb = "*"
huggingface-hub = "*"
openai = "*"
tiktoken = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
